*{
  padding:0;
  margin:0;
  outline: none;
}
body{
  display: flex;
  justify-content: center;
  font-family: 'Indie Flower', 'Comic Sans', cursive;
  background: linear-gradient(50deg, #BB4A9F 0%, #E4E5D7 35%, #BEE8D7 65%, #51C8C8 90%);

}
.Game{
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Game .HeaderGame{
  width: 370px;
  margin-top: 10%;
  text-align: center;
}
.Game .HeaderGame .WinnerPlayer{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}
.Game .HeaderGame .WinnerPlayer h1{
  font-size: 32px;
}
.Game .bodyGame{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3,auto);
  position: relative;

}
.Game .bodyGame #option,
.Game .bodyGame #LostPlayer,
.Game .bodyGame #WinPlayer,
.Game .bodyGame #Difficult{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #56e4c2f2;
  border-radius: 20px;
  z-index: 900;
}
.Game .bodyGame #option button,
.Game .bodyGame #Difficult button
{
  border: none;
  background: none;
  font-size: 39px;
  cursor: pointer;
}
.Game .bodyGame #LostPlayer .Dbutton,
.Game .bodyGame #WinPlayer .Dbutton{
  width: 95%;
  
  display: flex;
    justify-content: flex-end;
}
.Game .bodyGame #LostPlayer .Dbutton button,
.Game .bodyGame #WinPlayer .Dbutton button{
  width: 45%;
  background: transparent;
  border:none;
  font-size: 20px;
  cursor: pointer;

}
.Game .bodyGame div{
  cursor: pointer;
  vertical-align: middle;

}
.Game .bodyGame div p{
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 4px;
}
.Game .bodyGame div:nth-of-type(1),
.Game .bodyGame div:nth-of-type(2),
.Game .bodyGame div:nth-of-type(3){
  border-bottom: 3px solid black;
}
.Game .bodyGame div:nth-of-type(4),
.Game .bodyGame div:nth-of-type(5),
.Game .bodyGame div:nth-of-type(6){
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
.Game .bodyGame div:nth-of-type(7),
.Game .bodyGame div:nth-of-type(8),
.Game .bodyGame div:nth-of-type(9){
  border-top: 3px solid black;
}
.Game .bodyGame div:nth-of-type(1),
.Game .bodyGame div:nth-of-type(4),
.Game .bodyGame div:nth-of-type(7){
  border-right: 3px solid black;
}
.Game .bodyGame div:nth-of-type(2),
.Game .bodyGame div:nth-of-type(5),
.Game .bodyGame div:nth-of-type(8){
  border-right: 3px solid black;
}
.Game .bodyGame div p.WinnerX::before,
.Game .bodyGame div p.WinnerY::before
{
  content: "";
  height: 107%;
  width: 4px;
  background-color: blueviolet;
  position: absolute;
  
}
.Game .bodyGame div p.WinnerZ::before,
.Game .bodyGame div p.WinnerM::before{
  content: "";
  height: 148%;
  width: 4px;
  background-color: blueviolet;
  position: absolute;
  left: 43px;
  animation: colorChange 2s linear infinite,ShowLine 2s linear; 
}
.Game .bodyGame div p.WinnerX::before{
  top:-6%;
  left:50%;
  transform: rotatez(90deg);
  animation: colorChange 2s linear infinite,ShowLineX 2s linear; 
}

.Game .bodyGame div p.WinnerY::before{
  top:0;
  left:50%;
  animation: colorChange 2s linear infinite,ShowLine 2s linear; 
}
.Game .bodyGame div p.WinnerZ::before{
  top: -24px;
  transform: rotateZ(44deg);
  animation: colorChange 2s linear infinite,ShowLineZ 2s linear; 
}
.Game .bodyGame div p.WinnerM::before{
    top: -36px;
    transform: rotateZ(136deg);
    animation: colorChange 2s linear infinite,ShowLineM 2s linear; 
}
@keyframes colorChange {
  0%{
    box-shadow:-1px 4px 10px 3px #4fa7c3;
  }
  25%{
    box-shadow:-1px 4px 10px 3px #2b7085;
  }50%{
    box-shadow:-1px 4px 10px 3px #4aad75;
  }75%{
    box-shadow:-1px 4px 10px 3px #84ad4a;
  }100%{
    box-shadow:-1px 4px 10px 3px #66b9d2;
  }
}
@keyframes ShowLine{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  50%{
    opacity: 0.5;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ShowLineX{
  0%{
    opacity: 0;
    transform: scale(0) rotatez(90deg);
  }
  50%{
    opacity: 0.5;
    transform: scale(0.5) rotatez(90deg);
  }
  100%{
    opacity: 1;
    transform: scale(1) rotatez(90deg);
  }
}
@keyframes ShowLineZ{
  0%{
    opacity: 0;
    transform: scale(0) rotateZ(44deg);
  }
  50%{
    opacity: 0.5;
    transform: scale(0.5) rotateZ(44deg);
  }
  100%{
    opacity: 1;
    transform: scale(1) rotateZ(44deg);
  }
}
@keyframes ShowLineM{
  0%{
    opacity: 0;
    transform: scale(0) rotateZ(136deg);
  }
  50%{
    opacity: 0.5;
    transform: scale(0.5) rotateZ(136deg);
  }
  100%{
    opacity: 1;
    transform: scale(1) rotateZ(136deg);
  }
}
.slideUp {
  opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.slideDown {
    opacity: 1 !important;
    transform: scale(100%);
    transition: all .4s ease-in-out; 
}

canvas {
  position: absolute;
  left: 0;
  width:100%;
  height:100%;
}
canvas.InActive{
  width:0%;
}
